.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
  padding: 5 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.hamburger { display: none;
  font-size: 28px; 
  background: none;
  border: none;
  color: white;
  cursor: pointer; }

  
.nav-logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}


.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  padding: 9px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.signin {
  color: white;
  background: transparent;
  border: none;
}

.signup {
  color: #ffffff;
  background: #ee489e;
  border: none;
  padding: 4px;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
}
  

